.grid {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}

.gimg {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

body {
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
}

h1 {
    font-size: 63px;
    font-weight: 700;
    margin: 0px;
    background: -webkit-linear-gradient(right, #5971dd, #be444e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Oxanium", sans-serif;
    padding-top: 6px;
    margin-bottom: 0px;
}

p {
    margin: 0px;
    font-size: 20px;
}

#top {
    text-align: right;
    display: flex;
    align-items: center;
    z-index: 10;
    margin-top: 15px;
}

#ver {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#icon {
    width: 60px;
    height: 60px;
}

#mode {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
}

#stats {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#change {
    position: absolute;
    right: 10px;
    top: 40px;
    font-size: 16px;
}

#game {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}