.grid {
    width: min(4vw, 4vh);
    height: min(4vw, 4vh);
    background-size: cover;
    background-position: center;
}

.gimg {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

body {
    background-color: black;
    color: white;
    font-family: "Oxanium", sans-serif;
    margin-left: 20px;
    padding: 10px;
    margin: 0px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
    background: -webkit-linear-gradient(right, #5971dd, #be444e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}

p {
    margin: 0px;
    font-size: min(3vw, 2vh);
}

#top {
    display: flex;
    align-items: flex-end;
    z-index: 10;
    margin: 0px;
    margin-top: 3px;
}

#ver {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#icon {
    width: 40px;
    height: 40px;
    margin-bottom: 12px;
}

#mode {
    font-size: min(4vw, 3vh);
}

#stats {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#topright {
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: right;
}

#change {
    font-size: min(2.5vw, 1.5vh);
}

#game {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#leftscore {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #5971dd;
    font-size: min(5vw, 5vh);
    opacity: 0%;
}

#rightscore {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #be444e;
    font-size: min(5vw, 5vh);
    opacity: 0%;
}