.grid {
    width: 80px;
    height: 80px;
    background-color: grey;
    background-size: cover;
    background-position: center;
}

.gimg {
    width: 100%;
}

.row {
    display: flex;
}