.grid {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}

.gimg {
    width: 100%;
}

.row {
    display: flex;
}

body {
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
}

h1 {
    font-size: 50px;
    margin: 0px;
}

p {
    margin: 0px;
}

#top {
    display: flex;
    align-items: center;
    z-index: 10;
}

#red {
    color: #de565f;
}

#icon {
    width: 40px;
    height: 40px;
}

#game {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}