.grid {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}

.gimg {
    width: 100%;
}

.row {
    display: flex;
}

body {
    background-color: black;
}

#game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}