.grid {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}

.gimg {
    width: 100%;
}

.row {
    display: flex;
}

body {
    background-color: black;
    color: rgb(89, 113, 221);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
}

#game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}